.App {
  text-align: center;
}

.App-logo {
  height: 75vmin;
}

.App-header {
  background-color: #bd6e5f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.item{
  flex:1;
  padding: 5px;
}
.item img{
  width: 100%;
  height: auto;
}


