.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 75vmin;
}

.App-header {
  background-color: #bd6e5f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.item{
  flex:1;
  padding: 5px;
}
.item img{
  width: 100%;
  height: auto;
}
.projHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: darkslategrey;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(64, 125, 167);
  color: white;
}

.topnav-right {
  float: right;
}
.about {
    background-image: url("./computer01.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

